.clang-format
.DS_Store
.idea/
.vs/
.vscode/
*.txt.user
bin/
build/
cmake-build-debug/
cmake-build-release/
include/dsound.h
include/RtAudio.h
install.d/
install/
junk/
tools/ffmpeg
vsbuild/
